@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@theme{
  --color-primary:#bb3838;
  --color-primary-dull: #7b2020;
}
*{
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color:#7e7d7d #1e1e1e;
}

body{
  color:white;
  background-color: #09090B;
}

.perspective-1000 {
  perspective: 1000px;
}


*::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

